@{
    ViewBag.Title = "Coming Soon";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style>
    div {
        font-size: large
    }
</style>
<h1 align="center">COMING SOON</h1>
<p/>
    <div align="center"/>profile message and friend system<div/>

